#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <0>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_q_w_esc {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_a_s_tab {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        combo_z_x_shift_tab {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <20 21>;
            bindings = <&kp LS(TAB)>;
        };

        combo_q_a_ampersand {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <0 10>;
            bindings = <&kp LS(N6)>;
        };

        combo_a_z_grave {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <10 20>;
            bindings = <&kp LS(BACKSLASH)>;
        };

        combo_w_s_exclamation {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <1 11>;
            bindings = <&kp LS(N1)>;
        };

        combo_s_x_question {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <11 21>;
            bindings = <&kp LS(SLASH)>;
        };

        combo_e_d_less_than {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <2 12>;
            bindings = <&kp LS(COMMA)>;
        };

        combo_d_c_greater_than {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <12 22>;
            bindings = <&kp LS(DOT)>;
        };

        combo_r_f_minus {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <3 13>;
            bindings = <&kp MINUS>;
        };

        combo_f_v_equal {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <13 23>;
            bindings = <&kp LS(MINUS)>;
        };

        combo_t_g_tilde {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <4 14>;
            bindings = <&kp LS(SEMI)>;
        };

        combo_g_b_percent {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <14 24>;
            bindings = <&kp LS(N5)>;
        };

        combo_y_h_double_quote {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <5 15>;
            bindings = <&kp BACKSLASH>;
        };

        combo_h_n_single_quote {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <15 25>;
            bindings = <&kp LS(N7)>;
        };

        combo_u_j_semicolon {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <6 16>;
            bindings = <&kp SEMI>;
        };

        combo_j_m_colon {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <16 26>;
            bindings = <&kp SINGLE_QUOTE>;
        };

        combo_i_k_plus {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <7 17>;
            bindings = <&kp LS(SEMI)>;
        };

        combo_k_comma_asterisk {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <17 27>;
            bindings = <&kp LS(SINGLE_QUOTE)>;
        };

        combo_o_l_at {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <8 18>;
            bindings = <&kp BACKSLASH>;
        };

        combo_l_dot_hash {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <18 28>;
            bindings = <&kp LS(N3)>;
        };

        combo_p_semi_pipe {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <9 19>;
            bindings = <&kp LS(INT_YEN)>;
        };

        combo_semi_slash_backslash {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <19 29>;
            bindings = <&kp INT_RO>;
        };

        combo_e_r_left_bracket {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <2 3>;
            bindings = <&kp BACKSLASH>;
        };

        combo_d_f_left_paren {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <12 13>;
            bindings = <&kp LS(N8)>;
        };

        combo_c_v_left_brace {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <22 23>;
            bindings = <&kp LS(BACKSLASH)>;
        };

        combo_u_i_right_bracket {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <6 7>;
            bindings = <&kp BACKSLASH>;
        };

        combo_j_k_right_paren {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <16 17>;
            bindings = <&kp LS(N9)>;
        };

        combo_m_comma_right_brace {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <26 27>;
            bindings = <&kp LS(BACKSLASH)>;
        };

        combo_f_enter_lang2 {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <13 34>;
            bindings = <&kp LANG2>;
        };

        combo_j_enter_lang1 {
            timeout-ms = <40>;
            layers = <0>;
            key-positions = <16 34>;
            bindings = <&kp LANG1>;
        };
    };


    behaviors {
        hml_cs: homerow_mod_left_ctrl_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_CTRL_SHIFT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 35 36 37 38>;
            hold-trigger-on-release;
            hold-while-undecided;
            bindings = <&kp>, <&kp>;
        };

        hml_wa: homerow_mod_left_win_alt {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_WIN_ALT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 35 36 37 38>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hmr_cs: homerow_mod_right_ctrl_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_CTRL_SHIFT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34>;
            hold-trigger-on-release;
            hold-while-undecided;
            bindings = <&kp>, <&kp>;
        };

        hmr_wa: homerow_mod_right_win_alt {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_WIN_ALT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q                &kp W                &kp E                &kp R                &kp T                &kp Y                &kp U                &kp I                &kp O                &kp P
                &lt 2 A              &hml_cs LCTRL S      &hml_wa LALT D       &hml_cs LSHIFT F     &hml_wa LGUI G       &hmr_wa RGUI H       &hmr_cs RSHIFT J     &hmr_wa RALT K       &hmr_cs RCTRL L      &kp SEMI
                &kp Z                &kp X                &kp C                &kp V                &kp B                &kp N                &kp M                &kp COMMA            &kp DOT              &kp SLASH
                &kp LCTRL            &kp LGUI             &lt 3 BSPC           &lt 1 LANG2          &lt 5 ENTER          &lt 4 SPACE          &kp LANG1            &bootloader          &sys_reset
            >;
        };

        layer_1 {
            bindings = <
                &trans               &trans               &trans               &trans               &kp LS(N7)           &kp LS(N2)           &kp N7               &kp N8               &kp N9               &kp LS(MINUS)
                &kp RIGHT_BRACKET    &kp BACKSLASH        &kp LS(N8)           &kp LS(N9)           &kp LS(LEFT_BRACKET) &kp MINUS            &kp N4               &kp N5               &kp N6               &kp SINGLE_QUOTE
                &kp LS(RIGHT_BRACKET) &kp LS(BACKSLASH)   &kp LS(COMMA)        &kp LS(DOT)          &kp LS(EQUAL)        &kp LS(INT_RO)       &kp N1               &kp N2               &kp N3               &mt LSHIFT LS(SINGLE_QUOTE)
                &trans               &trans               &trans               &trans               &trans               &kp N0               &trans               &trans               &trans
            >;
        };

        layer_2 {
            bindings = <
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &kp UP_ARROW         &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &kp LEFT_ARROW       &kp DOWN_ARROW       &kp RIGHT_ARROW      &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
            >;
        };

        layer_3 {
            bindings = <
                &trans               &trans               &trans               &kp LG(R)            &trans               &trans               &kp LS(N6)           &kp LS(SINGLE_QUOTE) &kp LS(N8)           &kp LS(SEMI)
                &trans               &kp LG(LS(S))        &trans               &kp LC(LS(F))        &trans               &trans               &kp LS(N4)           &kp LS(N5)           &kp EQUAL            &trans
                &trans               &trans               &trans               &kp LG(V)            &trans               &kp INT_RO           &kp LS(N1)           &kp LEFT_BRACKET     &kp LS(N3)           &kp LS(INT_YEN)
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
            >;
        };

        layer_4 {
            bindings = <
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
            >;
        };

        layer_5 {
            bindings = <
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
            >;
        };

        layer_6 {
            bindings = <
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans
            >;
        };
    };
};
